.about
	background: url($imgUrl+'about/bg.jpg') no-repeat center center / cover
	.block-container
		padding: 160px 0 170px
		@include mq($max-width: 1500px)
			padding: 100px 0 170px
		@include mq($max-width: 1200px)
			padding: 75px 0
		@include mq($max-width: 700px)
			padding: 40px 0
	.line1
		position: absolute
		left: 0
		top: 0
		@include mq($max-width: 1700px)
			width: 28%
		@include mq($max-width: 1200px)
			display: none
	.line2
		position: absolute
		right: 0
		bottom: 0
		display: block
		@include mq($max-width: 1700px)
			width: 26%
		@include mq($max-width: 1200px)
			display: none
	.inner
		width: 650px
		margin-left: auto
		@include mq($max-width: 700px)
			width: 100%
	&__text
		height: 310px
		font-weight: 700
		overflow: auto
		color: $green4
		font-size: 24px
		line-height: 1.8
		@include mq($max-width: 575px)
			height: auto
			overflow: visible
			font-size: 18px
			line-height: 1.4