.mfp-container
	padding: 0
	margin: 0
.popup
	padding: 50px 55px
	background: $green1
	width: 580px
	margin: 50px auto
	position: relative
	&#callback2
		width: 900px
		@include mq($max-width: 950px)
			width: 540px
		@include mq($max-width: 575px)
			width: 100%
		.form__textarea
			min-height: 130px
		.caption
			&__title
				font-size: 60px
				line-height: 1.2
				@include mq($max-width: 950px)
					font-size: 30px
				@include mq($max-width: 575px)
					font-size: 24px
				span
					@include mq($max-width: 950px)
						font-size: 18px
					@include mq($max-width: 575px)
						font-size: 16px
	@include mq($max-width: 575px)
		width: 100%
		margin: 50px 0
		padding: 15px
	.form-link
		color: $green3
		font-size: 18px
		font-weight: normal
		text-decoration: underline
		@include mq($max-width: 575px)
			margin-top: 10px
	.mfp-close
		color: $green4
		font-size: 35px
	.caption
		color: $green4
		margin-bottom: 30px
		&__title
			font-size: 35px
			font-weight: 400
			@include mq($max-width: 575px)
				font-size: 28px
		&__subtitle
			font-size: 20px
			font-weight: 400
			@include mq($max-width: 575px)
				font-size: 16px
	.form
		display: flex
		flex-wrap: wrap
		align-items: flex-start
		justify-content: space-between
		&-left,
		&-right
			width: 47%
			@include mq($max-width: 950px)
				width: 100%
		&-item
			width: 100%
			margin-bottom: 30px
			position: relative
			@include mq($max-width: 800px)
				margin-bottom: 15px
			&.full
				width: 100%
			&.half
				width: 47%
				@include mq($max-width: 575px)
					width: 100%
			&.nm
				margin-bottom: 0
			&.icon-user2
				&:before
					font-size: 22px
					right: 17px
			&.icon-tel
				&:before
					font-size: 20px
					right: 17px
			&.icon-suitcase
				&:before
					font-size: 20px
			&:before
				position: absolute
				color: $green3
				top: 50%
				right: 15px
				transform: translate(0, -50%)
		&__label
			position: absolute
			left: 15px
			top: 50%
			transform: translate(0, -50%)
			font: 16px 'Circe', sans-serif
			color: $black
			span
				color: $green3
				font-size: 18px
				font-family: 'Proxima', sans-serif
		&__input,
		&__textarea
			background: rgba(255, 255, 255, .65)
			border: 1px solid transparent
			font: normal 16px 'Circe', sans-serif
			color: $black
			display: block
			width: 100%
			height: 50px
			padding: 0 50px 0 15px
			transition: all .3s ease-out
			&:hover,
			&:focus
				border: 1px solid $green3
				&+.form__label
					display: none
			&::placeholder
				font-family: 'Circe', sans-serif
				color: $black
		&__textarea
			min-height: 210px
			padding: 15px
		&__btn
			display: block
			margin-left: auto
		.checkbox
			&__mark
				color: $black
				align-items: center
				line-height: 1
				a
					color: $green3
					text-decoration: underline
					&:hover
						text-decoration: none
		&-row
			display: flex
			align-items: center
			flex-wrap: wrap
			justify-content: space-between
			width: 100%


	&#lk
		.caption
			&__title
				font-size: 30px
		.btn3
			width: 100%


