.text-container
	h1
		font-size: 46px
		line-height: 1.5
		color: $green4
		font-weight: 400
		margin-bottom: 30px
		@include mq($max-width: 700px)
			font-size: 24px
	h2
		font-size: 40px
		line-height: 1.5
		color: $green4
		font-weight: 400
		margin-bottom: 30px
		@include mq($max-width: 1200px)
			font-size: 30px
		@include mq($max-width: 700px)
			font-size: 24px
	h3
		font-size: 30px
		line-height: 1.5
		color: $green4
		font-weight: 400
		margin-bottom: 30px
		@include mq($max-width: 700px)
			font-size: 18px
	p
		font-weight: 400
		margin-bottom: 20px
		font-size: 20px
		line-height: 1.8
		@include mq($max-width: 1000px)
			font-size: 16px
		@include mq($max-width: 700px)
			font-size: 14px
	a
		font-size: 20px
		color: $green1
		text-decoration: underline
		@include mq($max-width: 1000px)
			font-size: 16px
		@include mq($max-width: 700px)
			font-size: 14px
		&:hover
			color: $black
	b,
	strong
		font-weight: bold
		color: #066460
	img
		display: block
		height: auto
		max-width: 100%
		@include mq($max-width: 1000px)
			float: none !important
	ul
		padding-left: 30px
		font-weight: 400
		margin-bottom: 20px
		font-size: 20px
		line-height: 1.8
		@include mq($max-width: 1000px)
			font-size: 16px
		@include mq($max-width: 700px)
			font-size: 14px
		li
			margin-bottom: 20px
			position: relative
			&:before
				content: ''
				display: block
				width: 10px
				height: 10px
				background: #066460
				position: absolute
				left: -30px
				top: 11px
				@include mq($max-width: 700px)
					top: 6px
	ol
		padding-left: 30px
		font-weight: 400
		margin-bottom: 20px
		font-size: 20px
		line-height: 1.8
		list-style-type: number
		@include mq($max-width: 1000px)
			font-size: 16px
		@include mq($max-width: 700px)
			font-size: 14px
		li
			list-style-type: number
			&::marker
				color: #066460
	i
		font-weight: 400
		margin-bottom: 20px
		font-size: 20px
		line-height: 1.8
		font-style: normal
		color: #066460
		@include mq($max-width: 1000px)
			font-size: 16px
		@include mq($max-width: 700px)
			font-size: 14px
