.we
	padding: 65px 0
	background: $green1
	.caption
		margin-bottom: 0
		&__title
			color: $green4
		&__line
			background: $green4
			margin: 35px 0
	.item
		padding: 65px 0
		display: flex
		align-items: flex-start
		&:nth-child(odd)
			.item-inner
				margin-left: 30px
		&:nth-child(even)
			.item-inner
				margin-right: auto
		&__img
			display: block
			width: 540px
			height: auto
		&__text
			color: $black
			font-size: 24px
			line-height: 1.3
			width: 450px
			height: 250px
			overflow: auto
		&-inner
			// padding: 0 30px

