- var imgUrl = '../img/';

doctype
html
	include ../blocks/head.pug
		title АЛС
	body
		include ../blocks/header2.pug

		.page-container
			section.heading(style="background: url(../img/heading/competitions.jpg) no-repeat center center / cover;")
				.container
					h1.heading__title Компетенции
					h2.heading__bgtitle Компетенции
				.breadcrumbs
					.container
						ul
							li
								a(href="#") Главная
							li
								a(href="#") Компетенции

			section.competitions
				.container
					.caption
						.caption__line
						p.caption__text(data-id="tab1").active В компетенцию профессионалов компании входит оказание услуг, связанных с регистрацией объектов интеллектуальной собственности, защитой и распоряжением интеллектуальной собственности <br> по всему миру.
						p.caption__text(data-id="tab2") В компетенцию профессионалов компании входит оказание услуг, связанных с регистрацией объектов интеллектуальной собственности, защитой и распоряжением интеллектуальной собственности по всему миру. В компетенцию профессионалов компании входит оказание услуг, связанных с регистрацией объектов интеллектуальной собственности, защитой и распоряжением интеллектуальной собственности по всему миру. В компетенцию профессионалов компании входит оказание услуг, связанных с регистрацией объектов интеллектуальной собственности, защитой и распоряжением интеллектуальной собственности по всему миру.
					ul.btns
						li
							a.active(href="#" data-id="tab1") НАПРАВЛЕНИЯ ДЕЯТЕЛЬНОСТИ
						li
							a(href="#" data-id="tab2") ОБЪЕКТЫ ИНТЕЛЛЕКТУАЛЬНОЙ СОБСТВЕННОСТИ
					.inner.active(data-id="tab1")
						a.item(href="service.html" style="background: url('../img/competitions/img111.jpg') no-repeat center center / cover")
							p.item__title РЕГИСТРАЦИЯ <br> ИНТЕЛЛЕКТУАЛЬНОЙ <br> СОБСТВЕННОСТИ
							p.item__text Регистрация изобретений, полезных моделей, промышленных образцов, товарных знаков и программ для ЭВМ 
							.item__link Читать подробнее
						a.item(href="service.html" style="background: url('../img/competitions/img1.jpg') no-repeat center center / cover")
							p.item__title УПРАВЛЕНИЕ <br> ИНТЕЛЛЕКТУАЛЬНОЙ <br> СОБСТВЕННОСТИ
							p.item__text Регистрация изобретений, полезных моделей, промышленных образцов, товарных знаков и программ для ЭВМ 
							.item__link Читать подробнее
						a.item(href="service.html" style="background: url('../img/competitions/img2.jpg') no-repeat center center / cover")
							p.item__title ЗАЩИТА <br> ИНТЕЛЛЕКТУАЛЬНОЙ <br> СОБСТВЕННОСТИ
							p.item__text Регистрация изобретений, полезных моделей, промышленных образцов, товарных знаков и программ для ЭВМ 
							.item__link Читать подробнее
						a.item(href="service.html" style="background: url('../img/competitions/img3.jpg') no-repeat center center / cover")
							p.item__title ОПТИМИЗАЦИЯ <br> БИЗНЕСА
							p.item__text Регистрация изобретений, полезных моделей, промышленных образцов, товарных знаков и программ для ЭВМ 
							.item__link Читать подробнее
					.inner(data-id="tab2")
						a.item(href="service.html" style="background: url('../img/competitions/img9.jpg') no-repeat center center / cover")
							p.item__title ИЗОБРЕТЕНИЯ
							p.item__text Регистрация изобретений, полезных моделей, промышленных образцов, товарных знаков и программ для ЭВМ 
							.item__link Читать подробнее
						a.item(href="service.html" style="background: url('../img/competitions/img10.jpg') no-repeat center center / cover")
							p.item__title ПОЛЕЗНЫЕ МОДЕЛИ
							p.item__text Регистрация изобретений, полезных моделей, промышленных образцов, товарных знаков и программ для ЭВМ 
							.item__link Читать подробнее
						a.item(href="service.html" style="background: url('../img/competitions/img8.jpg') no-repeat center center / cover")
							p.item__title ДИЗАЙН
							p.item__text Регистрация изобретений, полезных моделей, промышленных образцов, товарных знаков и программ для ЭВМ 
							.item__link Читать подробнее
						a.item(href="service.html" style="background: url('../img/competitions/img5.jpg') no-repeat center center / cover")
							p.item__title ТОВАРНЫЕ ЗНАКИ
							p.item__text Регистрация изобретений, полезных моделей, промышленных образцов, товарных знаков и программ для ЭВМ 
							.item__link Читать подробнее
						a.item(href="service.html" style="background: url('../img/competitions/img7.jpg') no-repeat center center / cover")
							p.item__title ПРОГРАММЫ ДЛЯ ЭВМ
							p.item__text Регистрация изобретений, полезных моделей, промышленных образцов, товарных знаков и программ для ЭВМ 
							.item__link Читать подробнее
						a.item(href="service.html" style="background: url('../img/competitions/img6.jpg') no-repeat center center / cover")
							p.item__title АВТОРСКОЕ ПРАВО
							p.item__text Регистрация изобретений, полезных моделей, промышленных образцов, товарных знаков и программ для ЭВМ 
							.item__link Читать подробнее
						a.item(href="service.html" style="background: url('../img/competitions/img11.jpg') no-repeat center center / cover")
							p.item__title Селекционные достижения 
							p.item__text Регистрация изобретений, полезных моделей, промышленных образцов, товарных знаков и программ для ЭВМ 
							.item__link Читать подробнее
						a.item(href="service.html" style="background: url('../img/competitions/img4.jpg') no-repeat center center / cover")
							p.item__title ГЕОГРАФИЧЕСКИЕ УКАЗАНИЯ
							p.item__text Регистрация изобретений, полезных моделей, промышленных образцов, товарных знаков и программ для ЭВМ 
							.item__link Читать подробнее


			section.request#b-contact
				img.line2(src=imgUrl+"lines/line9.png", alt="")
				.container
					.inner
						.caption
							h2.caption__title оставьте заявку <br> <span>и наши специалисты Вас проконсультируют</span>
						form.form(action="#")
							.form-left
								.form-item.icon-user2
									input.form__input(type="text" name="request-name" id="request-name" placeholder="")
									label.form__label(for="request-name") Фамилия Имя Отчество <span>*</span>
								.form-item.icon-tel
									input.form__input(type="tel" name="request-tel" id="request-tel" placeholder="")
									label.form__label(for="request-tel") Телефон <span>*</span>
								.form-item.icon-mail
									input.form__input(type="email" name="request-email" id="request-email" placeholder="")
									label.form__label(for="request-email") Email <span>*</span>
							.form-right
								.form-item
									textarea.form__textarea(name="request-text" placeholder="Комментарии")
							.form-item
								label.checkbox
									input.checkbox__input(type="checkbox" checked)
									span.checkbox__mark Я соглашаюсь с 
										a(href="#") условиями обработки персональных данных 
							.form-item
								button.form__btn.btn3 Отправить

		include ../blocks/footer.pug

		include ../blocks/scripts.pug