- var imgUrl = '../img/';
doctype
html
	include ../blocks/head.pug
		title АЛС
	body
		include ../blocks/header.pug
 
		.page-container
			include ../blocks/mainblock.pug
			include ../blocks/b-services.pug
			include ../blocks/b-objects.pug
			include ../blocks/we.pug
			include ../blocks/advantages.pug
			include ../blocks/partners.pug
			include ../blocks/b-news.pug
			include ../blocks/b-contact.pug

		include ../blocks/footer.pug

		include ../blocks/scripts.pug