- var imgUrl = '../img/';
  
doctype
html
	include ../blocks/head.pug
		title АЛС
	body
		include ../blocks/header2.pug

		.page-container
			section.heading(style="background: url(../img/heading/information.jpg) no-repeat center center / cover;")
				.container
					h1.heading__title ИНФОРМАЦИЯ
					h2.heading__bgtitle ИНФОРМАЦИЯ
					.btns-wrap
						h2 <b>Есть вопросы?</b> Задайте их нам
						ul.btns
							li
								a.btn4.popup-link(href="#callback") Оставить заявку
				.breadcrumbs
					.container
						ul
							li
								a(href="#") Главная
							li
								a(href="#") ИНФОРМАЦИЯ

			section.information
				.top
					.container
						.page-sidebar
							ul.information-menu
								li
									a(href="#" data-id="tab1").active Мадридская система
								li
									a(href="#" data-id="tab2") Парижская конвенция
								li
									a(href="#") Товарный знак
								li
									a(href="#") Изобретения
								li
									a(href="#") Авторское право
								li
									a(href="#") Промышленный образец
								li
									a(href="#") Полезная модель
								li
									a(href="#") Международная заявка
								li
									a(href="#") Программа для ЭВМ
								li
									a(href="#") Авторское право
								li
									a(href="#") Ускоренная регистрация
							//- .question
							//- 	p.question__title Есть вопросы?
							//- 	p.question__subtitle Задайте их нам
							//- 	a.question__btn(href="#") Задайте их нам
						.page-content
							.text-container.active(data-id="tab1")
								h2 Парижская конвенция
								p Конвенция по охране интеллектуальной собственности была принята 20 марта 1883 г. в Париже и получила название Парижской конвенции.
								p Конвенция касается вопросов связанных с защитой патентов, полезных моделей, промышленных образцов, товарных знаков, знаков обслуживания, фирменных наименований и географических указаний и направлена на пресечение недобросовестной конкуренции. 
								p Парижская Конвенция стала первым серьездным международным соглашением, направленным на обеспечение охраны интеллектуальной собственности на международной арене.
								p Одним из основных принципов Парижской конвенции является принцип национального режима. Конвенция предусматривает предоставление изобретателям и правообладателям любой страны-участницы Конвенции такой же объем правовой охраны их промышленной собственности, какая предоставляется или будет предоставляться в будущем своим гражданам законодательством данного государства. 
								p Целью Конвенции является не только устранение любой дискриминации в отношении иностранных заявителей, но и облегчение иностранным физическим и юридическим лицам приобретения, использования и защиты прав промышленной собственности. 
								p Парижская конвенция не предусматривает создания международных патентов или товарных знаков, которые бы действовали во всех странах-участницах, будучи выданными в отдельной стране. Напротив, статья 4bis Конвенции предусматривает независимость патентов, полученных на одно изобретение в различных странах. В любой другой стране Парижского союза изобретение может свободно использоваться, если оно не было там запатентовано. Точно так же Конвенция не ставит своей задачей создание международного товарного знака. 
								p Наиболее важным правилом Парижской конвенции является правило о конвенционном приоритете. В соответствии со статьей 4 Конвенции лицо, подавшее заявку на изобретение в одном из государств-участников, в течение года со дня подачи первой заявки пользуется правом приоритета для подачи заявки в других государствах-участниках. Публикация о таком изобретении, подача заявки на него третьими лицами в течение годичного срока не помешают выдаче патента, так как приоритет и новизна изобретения будут определяться в другой стране не на день фактической подачи заявки в ней, а по времени подачи первой заявки. Конвенционный приоритет предоставляется также при патентовании промышленных образцов (в течение 6 месяцев) и регистрации товарных знаков (на такой же срок).
							.text-container(data-id="tab2")
								h2 Парижская конвенция
								p Конвенция по охране интеллектуальной собственности была принята 20 марта 1883 г. в Париже и получила название Парижской конвенции.
								p Конвенция касается вопросов связанных с защитой патентов, полезных моделей, промышленных образцов, товарных знаков, знаков обслуживания, фирменных наименований и географических указаний и направлена на пресечение недобросовестной конкуренции. 
								p Парижская Конвенция стала первым серьездным международным соглашением, направленным на обеспечение охраны интеллектуальной собственности на международной арене.
				.bottom
					.container
						ul.information-list
							li
								a(href="service.html") Управление <br> товарным знаком
							li
								a(href="service.html") Оценка <br> товарного знака
							li
								a(href="service.html") Защита прав <br> правообладателя

			section.request.type2#b-contact
				.block-container
					img.line3(src=imgUrl+"lines/line11.png", alt="")
					.container
						.inner
							.caption
								h2.caption__title Остались вопросы? <br> <span>Оставьте нам заявку и мы с Вами свяжемся</span>
							form.form(action="#")
								.form-left
									.form-item.icon-user2
										input.form__input(type="text" name="request-name" id="request-name" placeholder="")
										label.form__label(for="request-name") Фамилия Имя Отчество <span>*</span>
									.form-item.icon-tel
										input.form__input(type="tel" name="request-tel" id="request-tel" placeholder="")
										label.form__label(for="request-tel") Телефон <span>*</span>
									.form-item.icon-mail
										input.form__input(type="email" name="request-email" id="request-email" placeholder="")
										label.form__label(for="request-email") Email <span>*</span>
								.form-right
									.form-item
										textarea.form__textarea(name="request-text" placeholder="Комментарии")
								.form-item
									label.checkbox
										input.checkbox__input(type="checkbox" checked)
										span.checkbox__mark Я соглашаюсь <a href="">с условиями обработки персональных данных </a>
								.form-item
									button.form__btn.btn3 Отправить

		include ../blocks/footer.pug

		include ../blocks/scripts.pug