- var imgUrl = '../img/';
  
doctype
html
	include ../blocks/head.pug
		title АЛС
	body
		include ../blocks/header2.pug

		.page-container
			section.heading(style="background: url(../img/heading/competitions.jpg) no-repeat center center / cover;")
				.container
					h1.heading__title Компетенции
					h2.heading__bgtitle Компетенции
				.breadcrumbs
					.container
						ul
							li
								a(href="#") Главная
							li
								a(href="#") Компетенции

			section.competitions
				.container
					.caption
						.caption__line
						p.caption__text В компетенцию профессионалов компании входит оказание услуг, связанных с регистрацией объектов интеллектуальной собственности, защитой и распоряжением интеллектуальной собственности по всему миру. В компетенцию профессионалов компании входит оказание услуг, связанных с регистрацией объектов интеллектуальной собственности, защитой и распоряжением интеллектуальной собственности по всему миру. В компетенцию профессионалов компании входит оказание услуг, связанных с регистрацией объектов интеллектуальной собственности, защитой и распоряжением интеллектуальной собственности по всему миру.
					ul.btns
						li
							a(href="#") НАПРАВЛЕНИЯ ДЕЯТЕЛЬНОСТИ
						li
							a(href="#") ОБЪЕКТЫ ИНТЕЛЛЕКТУАЛЬНОЙ СОБСТВЕННОСТИ
					.inner
						.item(style="background: url('../img/competitions/img4.jpg') no-repeat center center / cover")
							p.item__title ГЕОГРАФИЧЕСКИЕУКАЗАНИЯ
							p.item__text Регистрация изобретений, полезных моделей, промышленных образцов, товарных знаков и программ для ЭВМ в любой стране мира
							a.item__link(href="#") Читать подробнее
						.item(style="background: url('../img/competitions/img5.jpg') no-repeat center center / cover")
							p.item__title ТОВАРНЫЕ ЗНАКИ
							p.item__text Регистрация изобретений, полезных моделей, промышленных образцов, товарных знаков и программ для ЭВМ в любой стране мира
							a.item__link(href="#") Читать подробнее
						.item(style="background: url('../img/competitions/img6.jpg') no-repeat center center / cover")
							p.item__title АВТОРСКОЕ ПРАВО
							p.item__text Регистрация изобретений, полезных моделей, промышленных образцов, товарных знаков и программ для ЭВМ в любой стране мира
							a.item__link(href="#") Читать подробнее
						.item(style="background: url('../img/competitions/img7.jpg') no-repeat center center / cover")
							p.item__title ПРОГРАММЫ ДЛЯ ЭВМ
							p.item__text Регистрация изобретений, полезных моделей, промышленных образцов, товарных знаков и программ для ЭВМ в любой стране мира
							a.item__link(href="#") Читать подробнее
						.item(style="background: url('../img/competitions/img8.jpg') no-repeat center center / cover")
							p.item__title ДИЗАЙН
							p.item__text Регистрация изобретений, полезных моделей, промышленных образцов, товарных знаков и программ для ЭВМ в любой стране мира
							a.item__link(href="#") Читать подробнее
						.item(style="background: url('../img/competitions/img9.jpg') no-repeat center center / cover")
							p.item__title ИЗОБРЕТЕНИЯ
							p.item__text Регистрация изобретений, полезных моделей, промышленных образцов, товарных знаков и программ для ЭВМ в любой стране мира
							a.item__link(href="#") Читать подробнее
						.item(style="background: url('../img/competitions/img10.jpg') no-repeat center center / cover")
							p.item__title ПОЛЕЗНЫЕ МОДЕЛИ
							p.item__text Регистрация изобретений, полезных моделей, промышленных образцов, товарных знаков и программ для ЭВМ в любой стране мира
							a.item__link(href="#") Читать подробнее
						.item(style="background: url('../img/competitions/img11.jpg') no-repeat center center / cover")
							p.item__title Селекционные достижения 
							p.item__text Регистрация изобретений, полезных моделей, промышленных образцов, товарных знаков и программ для ЭВМ в любой стране мира
							a.item__link(href="#") Читать подробнее

			section.request
				img.line2(src=imgUrl+"lines/line10.png", alt="")
				.container
					.inner
						.caption
							h2.caption__title оставьте заявку <br> <span>и наши специалисты Вас проконсультируют</span>
						form.form(action="#")
							.form-left
								.form-item.icon-user2
									input.form__input(type="text" name="name" placeholder="Фамилия Имя Отчество *")
								.form-item.icon-tel
									input.form__input(type="tel" name="tel" placeholder="Телефон")
								.form-item.icon-mail
									input.form__input(type="email" name="email" placeholder="Email")
							.form-right
								.form-item
									textarea.form__textarea(name="" placeholder="Комментарии")
							.form-item
								label.checkbox
									input.checkbox__input(type="checkbox" checked)
									span.checkbox__mark Я соглашаюсь с 
										a(href="#") условиями обработки персональных данных 
							.form-item
								button.form__btn.btn3 Отправить

		include ../blocks/footer.pug

		include ../blocks/scripts.pug