- var imgUrl = '../img/';
  
doctype
html
	include ../blocks/head.pug
		title АЛС
	body
		include ../blocks/header2.pug

		.page-container
			section.heading(style="background: url(../img/heading/services.jpg) no-repeat center center / cover;")
				.container
					h1.heading__title Регистрация товарного знака <br> в любой стране мира
				.breadcrumbs
					.container
						ul
							li
								a(href="#") Главная
							li
								a(href="#") Регистрация интеллектуальной собственности

			section.service
				.container
					.top
						.service-sidebar
							.spoilers
								.spoiler
									h3.spoiler__title Регистрация интеллектуальной собственности
									ul.spoiler-list
										li
											a(href="#") Регистрация изобретения в любой стране мира
										li
											a(href="#") Регистрация полезной модели в любой стране мира
										li
											a(href="#") Регистрация дизайна в любой стране мира
										li
											a(href="#") Регистрация товарного знака в любой стране мира
										li
											a(href="#") Регистрация Программы для ЭВМ в любой стране мира
										li
											a(href="#") Регистрация авторских прав в любой стране мира
								.spoiler
									h3.spoiler__title Защита интеллектуальной собственности 
									ul.spoiler-list
										li
											a(href="#") Регистрация изобретения в любой стране мира
										li
											a(href="#") Регистрация полезной модели в любой стране мира
								.spoiler
									h3.spoiler__title Управление интеллектуальной собственности  
									ul.spoiler-list
										li
											a(href="#") Регистрация изобретения в любой стране мира
										li
											a(href="#") Регистрация полезной модели в любой стране мира
							.useful-info
								h2.useful-info__title Полезная информация:
								ul.useful-info-list
									li
										a(href="#") Мадридская система
									li
										a(href="#") Парижская конвенция
						.service-content
							.text-container
								p Товарный знак – это фирменное или товарное обозначение, служащее для индивидуализации товаров, услуг, а также компаний.
								p Товарный знак может представлять собой рисунок, слово, словосочетание или различные комбинации рисунков и слов в любой цветовой гамме.
								p В качестве товарного знака регистрируется логотип, бренд, название компании, слоган или девиз, домен, голограмма, а также место происхождения товара.
								p Товарный знак  является неотъемлемой часть продукта или услуги и представляет собой нематериальный актив, стоимость которого растет с продвижением продукта или услуги. Товарный знак подлежит регистрации, если он обладает различительной способность и не состоит из элементов, вошедших во всеобщее употребление для обозначения товаров или услуг определенного вида.
								p Товарный знак нельзя зарегистрировать, если он содержит общепринятые символы и термины. <br> Товарный знак удостоверяется свидетельством, которое  выдают национальные и международные патентные ведомства.
					ul.links
						li
							a(href="#") Предварительная проверка товарного знака
						li
							a(href="#") Наименование места происхождения товара
						li
							a(href="#") Защита прав правообладателя
						li
							a(href="#") Продление действия товарного знака
						li
							a(href="#") Оценка товарного знака
						li
							a(href="#") Управление товарным знаком
						li
							a(href="#") Аннулирование препятствующего товарного знака



			section.info
				.container
					.inner
						.caption
							h2.caption__title Что угрожает владельцу незарегистрированного товарного знака?
							.caption__line
							p.caption__text.change-scroll Любое юридическое лицо или индивидуальный предприниматель втайне от владельца неохраняемого средства индивидуализации может подать заявку и зарегистрировать знак, а затем запретить его применять первоначальному пользователю. При этом правообладатель получит возможность взыскать компенсацию с последнего за незаконное использование обозначения.

			section.request
				.container
					.caption
						h2.caption__title Защитите Ваш <br> бизнес <span>уже сегодня</span>
						.caption__line
					.inner
						.caption
							h2.caption__title оставьте заявку <br> <span>и наши специалисты Вас проконсультируют</span>
						form.form(action="#")
							.form-left
								.form-item.icon-user2
									input.form__input(type="text" name="name" placeholder="Фамилия Имя Отчество *")
								.form-item.icon-tel
									input.form__input(type="tel" name="tel" placeholder="Телефон")
								.form-item.icon-mail
									input.form__input(type="email" name="email" placeholder="Email")
							.form-right
								.form-item
									textarea.form__textarea(name="" placeholder="Комментарии")
							.form-item
								label.checkbox
									input.checkbox__input(type="checkbox" checked)
									span.checkbox__mark Я соглашаюсь с 
										a(href="#") условиями обработки персональных данных 
							.form-item
								button.form__btn.btn3 Отправить

		include ../blocks/footer.pug

		include ../blocks/scripts.pug