- var imgUrl = '../img/';
  
doctype
html
	include ../blocks/head.pug
		title АЛС
	body
		include ../blocks/header2.pug

		.page-container
			section.heading(style="background: url(../img/heading/services.jpg) no-repeat center center / cover;")
				.container
					h1.heading__title Регистрация товарного знака <br> в любой стране мира
					.btns-wrap
						p <b>Защитите Ваш бизнес уже сегодня</b> – оставьте заявку на товарный знак
						ul.btns
							li
								a.btn4.popup-link(href="#callback") Оставить заявку
				.breadcrumbs
					.container
						ul
							li
								a(href="#") Главная
							li
								a(href="#") Регистрация интеллектуальной собственности

			section.service
				.container
					.top
						.page-sidebar
							.spoilers
								.spoiler
									h3.spoiler__title Регистрация интеллектуальной собственности
									ul.spoiler-list
										li
											a(href="service.html") Регистрация изобретения 
										li
											a(href="service.html") Регистрация полезной модели 
										li
											a(href="service.html") Регистрация дизайна 
										li
											a(href="service.html") Регистрация товарного знака 
										li
											a(href="service.html") Регистрация Программы для ЭВМ 
										li
											a(href="service.html") Регистрация авторских прав 
								.spoiler
									h3.spoiler__title Защита интеллектуальной собственности 
									ul.spoiler-list
										li
											a(href="service.html") Регистрация изобретения 
										li
											a(href="service.html") Регистрация полезной модели 
								.spoiler
									h3.spoiler__title Управление интеллектуальной собственности  
									ul.spoiler-list
										li
											a(href="service.html") Регистрация изобретения 
										li
											a(href="service.html") Регистрация полезной модели 
							.useful-info
								h2.useful-info__title Полезная информация:
								ul.useful-info-list
									li
										a(href="information.html") Мадридская система
									li
										a(href="information.html") Парижская конвенция
						.page-content
							.text-container
								p Товарный знак – это фирменное или товарное обозначение, служащее для индивидуализации товаров, услуг, а также компаний.
								p Товарный знак может представлять собой рисунок, слово, словосочетание или различные комбинации рисунков и слов в любой цветовой гамме.
								p В качестве товарного знака регистрируется логотип, бренд, название компании, слоган или девиз, домен, голограмма, а также место происхождения товара.
								p Товарный знак  является неотъемлемой часть продукта или услуги и представляет собой нематериальный актив, стоимость которого растет с продвижением продукта или услуги. Товарный знак подлежит регистрации, если он обладает различительной способность и не состоит из элементов, вошедших во всеобщее употребление для обозначения товаров или услуг определенного вида.
								p Товарный знак нельзя зарегистрировать, если он содержит общепринятые символы и термины. <br> Товарный знак удостоверяется свидетельством, которое  выдают национальные и международные патентные ведомства.
					ul.links
						li
							a(href="service.html") Предварительная проверка товарного знака
						li
							a(href="service.html") Наименование места происхождения товара
						li
							a(href="service.html") Защита прав правообладателя
						li
							a(href="service.html") Продление действия товарного знака
						li
							a(href="service.html") Оценка товарного знака
						li
							a(href="service.html") Управление товарным знаком
						li
							a(href="service.html") Аннулирование препятствующего товарного знака



			section.info
				img.line(src=imgUrl+"lines/line7.png", alt="")
				.container
					.inner
						.caption
							h2.caption__title Что угрожает владельцу незарегистрированного товарного знака?
							.caption__line
							p.caption__text.change-scroll Любое юридическое лицо или индивидуальный предприниматель втайне от владельца неохраняемого средства индивидуализации может подать заявку и зарегистрировать знак, а затем запретить его применять первоначальному пользователю. При этом правообладатель получит возможность взыскать компенсацию с последнего за незаконное использование обозначения.

			section.request#b-contact
				img.line1(src=imgUrl+"lines/line8.png", alt="")
				img.line2(src=imgUrl+"lines/line9.png", alt="")
				.container
					.caption
						h2.caption__title Защитите Ваш <br> бизнес <span>уже сегодня</span>
						.caption__line
					.inner
						.caption
							h2.caption__title оставьте заявку <br> <span>и наши специалисты Вас проконсультируют</span>
						form.form(action="#")
							.form-left
								.form-item.icon-user2
									input.form__input(type="text" name="name" placeholder="Фамилия Имя Отчество *")
								.form-item.icon-tel
									input.form__input(type="tel" name="tel" placeholder="Телефон *")
								.form-item.icon-mail
									input.form__input(type="email" name="email" placeholder="Email *")
							.form-right
								.form-item
									textarea.form__textarea(name="" placeholder="Комментарии")
							.form-item
								label.checkbox
									input.checkbox__input(type="checkbox" checked)
									span.checkbox__mark Я соглашаюсь с 
										a(href="#") условиями обработки персональных данных 
							.form-item
								button.form__btn.btn3 Отправить

		include ../blocks/footer.pug

		include ../blocks/scripts.pug