section.b-news
	img.line1(src=imgUrl+"lines/line4.png", alt="")
	img.line2(src=imgUrl+"lines/line5.png", alt="")
	.container
		.caption
			h2.caption__title новости
		.bignews
			img.bignews__img(src=imgUrl+"news/img.jpg", alt="")
			.bignews-inner
				span.bignews__date 22. 06. 2019
				.bignews__line
				p.bignews__text.change-scroll Китай стремительно ворвался в двадцатку лидеров; Швейцария, Нидерланды, Швеция, Соединенное Королевство, Сингапур и США удерживают ведущие позиции в годовых рейтингах. 
				a.bignews__link(href="news-item.html") Читать подробнее
		ul.smallnews
			li.smallnews-item
				span.smallnews__date 22. 06. 2019
				.smallnews__line
				p.smallnews__text.change-scroll Китай победил в «битве мозгов» США и их российских союзников
				a.smallnews__link(href="news-item.html") Читать подробнее
			li.smallnews-item
				span.smallnews__date 22. 06. 2019
				.smallnews__line
				p.smallnews__text.change-scroll Компания Coolpad подала в суд на Xiaomi, обвиняя её в нарушении ряда патентов
				a.smallnews__link(href="news-item.html") Читать подробнее
