section.b-objects
	.container
		.caption
			h2.caption__title объекты
		.inner
			a.item(href="#")
				span Географические указания
			a.item(href="#")
				span Товарные знаки
			a.item(href="#")
				span Авторское право
			a.item(href="#")
				span Программы для ЭВМ
			a.item(href="#")
				span Дизайн
			a.item(href="#")
				span Изобретения
			a.item(href="#")
				span Полезные модели
			a.item(href="#")
				span Селекционные достижения

