section.b-objects#obj
	.container
		.caption
			h2.caption__title объекты
		.inner
			a.item(href="service.html")
				span Изобретения
			a.item(href="service.html")
				span Полезные модели
			a.item(href="service.html")
				span Дизайн
			a.item(href="service.html")
				span Товарные знаки
			a.item(href="service.html")
				span Программы для ЭВМ
			a.item(href="service.html")
				span Географические указания
			a.item(href="service.html")
				span Авторское право
			a.item(href="service.html")
				span Селекционные достижения

