section.b-objects
	.container
		.caption
			h2.caption__title объекты
		.inner
			a.item(href="objects-competitions.html")
				span Географические указания
			a.item(href="objects-competitions.html")
				span Товарные знаки
			a.item(href="objects-competitions.html")
				span Авторское право
			a.item(href="objects-competitions.html")
				span Программы для ЭВМ
			a.item(href="objects-competitions.html")
				span Дизайн
			a.item(href="objects-competitions.html")
				span Изобретения
			a.item(href="objects-competitions.html")
				span Полезные модели
			a.item(href="objects-competitions.html")
				span Селекционные достижения

