section.b-services
	.container
		.item(style="background: url('../img/services/img1.jpg') no-repeat center center / cover")
			p.item__title Защита <br> интеллектуальной <br> собственности
			p.item__text Регистрация изобретений, полезных моделей, промышленных образцов, товарных знаков и программ для ЭВМ в любой стране мира
			a.item__link(href="#") Читать подробнее
		.item(style="background: url('../img/services/img2.jpg') no-repeat center center / cover")
			p.item__title Защита <br> интеллектуальной <br> собственности
			p.item__text Регистрация изобретений, полезных моделей, промышленных образцов, товарных знаков и программ для ЭВМ в любой стране мира
			a.item__link(href="#") Читать подробнее
		.item(style="background: url('../img/services/img3.jpg') no-repeat center center / cover")
			p.item__title Управление <br> интеллектуальной <br> собственностью
			p.item__text Регистрация изобретений, полезных моделей, промышленных образцов, товарных знаков и программ для ЭВМ в любой стране мира
			a.item__link(href="#") Читать подробнее

