footer.footer
	.container
		.left
			.left-block
				a(href="inventors.html").left-block__title Патентным поверенным
				.social
					p.social__text Мы в соцсетях
					ul.social-list
						li
							a.icon-insta(href="#")
						li
							a.icon-facebook(href="#")
				p.footer__text © ООО «ALS Partners», 2020
				a.footer__link(href="privacy.html") Положение о персональных данных
			.left-block
				a(href="inventors.html").left-block__title Обладателям бренда
				ul.tels.icon-tel
					li
						a(href="tel:+74955853865") +7 495 585-38-65
				ul.mails.icon-mail
					li
						a(href="mailto:info@als-partners.ru") info@als-partners.ru
				a.footer__link(href="privacy.html") Положение о праве пользования <br> информационными ресурсами
			.left-block
				a(href="inventors.html").left-block__title Изобретателям
		.right
			ul.right-menu
				li
					a(href="information.html") Изобретение
				li
					a(href="information.html") Полезная модель
				li
					a(href="information.html") Дизайн
				li
					a(href="information.html") Товарный знак
				li
					a(href="information.html") Программа для ЭВМ
				li
					a(href="information.html") База данных
				li
					a(href="information.html") Географическое указание
				li
					a(href="information.html") Договор и Лицензия



include popup.pug