header.header
	.container
		.left
			a.logo(href="#")
				img.logo__img(src=imgUrl+"logo.svg", alt="")
				p.logo__text Международная <br> патентно-правовая <br> компания
		.right
			.right-top
				ul.btns
					li
						a.btn1.popup-link(href="#") Оставить заявку
				ul.tels
					li
						a(href="tel:+74955853865") + 7 495 585-38-65
				ul.links
					li
						a.icon-search(href="#")
					li
						a.icon-twitter(href="#")
				a.lk-link.icon-user1(href="#") Личный кабинет
			.right-bottom
				.menu
					li
						a(href="about.html") О компании
					li
						a(href="#") Компетенции
					li
						a(href="#") ИНФОРМАЦИЯ
					li
						a(href="#") Контакты
				.lang
					p.icon-triangle.lang__curr ENG
					ul.lang-list
						li
							a(href="#") RUS
						li
							a(href="#") ENG

