header.header
	.container
		.left
			a.logo(href="index.html")
				img.logo__img(src=imgUrl+"logo.svg", alt="")
				p.logo__text Международная <br> патентно-правовая <br> компания
		.right
			.right-top
				ul.btns
					li
						a.btn1.anchor(href="#b-contact") Оставить заявку
				ul.tels
					li
						a(href="tel:+74955853865") +7 495 585-38-65
				ul.links
					li
						a.icon-search(href="search-page.html")
					li
						a.icon-twitter(href="#")
				a.lk-link.icon-user1(href="lk.html") 
					span Личный кабинет
			.right-bottom
				.menu
					li
						a(href="about.html") О компании
					li
						a(href="area-of-competitions.html") Компетенции
					li
						a(href="information.html") ИНФОРМАЦИЯ
					li
						a(href="contact.html") Контакты
				.lang
					p.icon-triangle.lang__curr ENG
					ul.lang-list
						li
							a(href="#") RUS
						li
							a(href="#") ENG
				button.burger
					span.bar.bar1
					span.bar.bar2
					span.bar.bar3
