section.we
	.container
		.item
			img.item__img(src=imgUrl+"we/img1.jpg", alt="")
			.item-inner
				.caption
					h2.caption__title приоритет
					.caption__line
				p.item__text.change-scroll При регистрации интеллектуальной собственности крайне важно быстро и оперативно подать заявку в патентное ведомство для получения приоритета перед другими правообладателями, которые могут не зависимо от вас зарегистрировать такую же или похожую идею.
		.item
			.item-inner
				.caption
					h2.caption__title стратегия
					.caption__line
				p.item__text.change-scroll Важно выбрать правильную стартегиию регистрации идеи на международном уровне, выбрать оптимальную процедуру для каждой выбранной страны или региона мира.
			img.item__img(src=imgUrl+"we/img2.jpg", alt="")
		.item
			img.item__img(src=imgUrl+"we/img3.jpg", alt="")
			.item-inner
				.caption
					h2.caption__title контроль
					.caption__line
				p.item__text.change-scroll Мониторинг и периодическое поддержание в силе, а также выявление нарушений зарегистрированной интелектуальной собственности, является наиболее важным аспектом.